.comment-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 1em;
  box-shadow: inset -2px 0px 6px 0px rgb( 1 1 1 / 20%);
  border-radius: 0px 0px 5px 0px
}
.comment-box {
  display: flex;
  flex-direction: row;
  margin-top: 0.3em;
  width: max-content;
}
.comment {
  display: flex;
  flex-direction: column;
  background-color: #9D712B;
  color: white;
  max-width: 23em;
  align-items: baseline;
  justify-content: space-between;
  padding: 0em;
}
.even {
  background-color: #CE9D4F;
}
.comment-text {
  font-family: 'Prata', serif;
  padding: 0.5em 2.5em 0.7em 0.5em;
  font-size: 12pt;
  text-align: left;
}
.comment-user {
  font-family: 'Montserrat', sans-serif;
  padding-right: 0.4em;
  font-size: 14pt;
  line-height: 10pt
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height:10px
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCBBCB;
  border-radius: 0px 0px 2px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ACACAC;
}
